@font-face {
    font-family:comicbd;
    src: url(../Fonts/comicbd.ttf);
}
@font-face {
    font-family:droid;
    src: url(../Fonts/droid.ttf);
}
@font-face {
    font-family:comic;
    src: url(../Fonts/comic.ttf);
}
body
{
	background-color:#eee;
	width:100%;
	height:100%;
	background:-webkit-linear-gradient(left, #555, #777);
}
.menu
{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	font-family:comicbd;
}
.iwar
{
	font-family:droid;
}
.sidemenu
{
	position:fixed;
	top:0;
	right:0;
	height:100%;
	width:415px;
}
.play-area
{
	width:80%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
	
}
.side-bar
{
	position:fixed;
	top:0px;
	right:0px;
	width:20%;
	height:100%;
	background-color:rgba(255,255,255,0.1);
}
.side-menu-btn
{
	width:90%;
	font-family:comic;
}